/*************************** Material Design Colors *************************/

//------ Error

$md-error-0: #000000;
$md-error-5: #2D0002;
$md-error-10: #410004;
$md-error-15: #540006;
$md-error-20: #65090E;
$md-error-25: #751617;
$md-error-30: #852221;
$md-error-35: #952E2B;
$md-error-40: #A53A36;
$md-error-50: #C5524C;
$md-error-60: #E66A63;
$md-error-70: #FF8981;
$md-error-80: #FFB3AD;
$md-error-90: #FFDAD7;
$md-error-100: #FFFFFF;
