/*************************** Variables **************************************/

@import "material-design";

@import "bootstrap/variables";
@import "bootstrap/vendor/rfs-variables";

@import "moodle/login-variables";
@import "moodle/drawer-variables";

$info-outline: $info;
$warning-outline: $warning;

//--- Fonts

/*************************** Inherit ****************************************/

@import "../../boost/scss/fontawesome";

@import "../../boost/scss/bootstrap";

@import "../../boost/scss/moodle";

/*************************** Rules ******************************************/

@import "moodle/core";
@import "moodle/blocks";
@import "moodle/drawer";
@import "moodle/modules";
@import "moodle/tables";
@import "moodle/popover-region";
@import "moodle/layout";
@import "moodle/navbar";
@import "moodle/moremenu";
@import "moodle/primarynavigation";
@import "moodle/secondarynavigation";
@import "moodle/dropdown";

html {
  background-color: $md-surface;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $md-surface;
}

// Rounded user pictures
.userpicture {
  border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
  @include button-outline-variant($secondary
);
border-color: $secondary;
}

.btn-outline-info {
  @include button-outline-variant($info-outline);
}

.btn-outline-warning {
  @include button-outline-variant($warning-outline);
}
