.generaltable {
    th,
    td {
        border-right: $table-border-width solid $table-border-color;
        border-left: $table-border-width solid $table-border-color;
    }

    td {
        border-bottom: $table-border-width solid $table-border-color;
    }
}